nav{
    background-color: #04ACD6;
}
nav > div > h2{
text-align: center;
color: rgb(0, 0, 0);
}
button{
    border-radius: 20px;
    background-color: #04ACD6;
    border-color: rgb(255, 255, 255);
    color: white;
    font-size: 25px;
    }
body{
    background-color: #10eedf5d;
}
#area-perguntas{
    border-color: #04ACD6;
    border-style: solid;
    background-color: #04acd694;
    margin: 20px;
    border-radius: 10px;
    width: 800px;
    font-size: 25px;
}
#pergunta{
    color: rgb(0, 0, 0);
    margin: 10px;
    text-align: left;
}
#alternativas{
    color: rgb(0, 0, 0);
    margin: 10px;
    text-align: left;
}
nav{
    display: flex;
    gap: 10%;
    align-items: center;
}
nav > div > img{
    margin-left: 10px;
}

#topo {
    text-align: -webkit-center;
}